body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #c5d7bd;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #c5d7bd;
}

.bottom-container {
  background-color: #c5d7bd;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;
}

.fitness-photo{
  border-radius:50%

.gaming-photo{
    border-radius: 50%
  }

  .sovathya-sar {
    border-radius: 40%
  }
